@media screen and (min-width: 768px) {
  .phone-sider-bar {
    display: none;
    position: fixed;
    right: 10px;
    top: 140px;
    width: 50px;
    height: 50px;
    overflow: hidden;
  }
}

@media screen and (max-width: 767px) {
  .phone-sider-bar {
    display: block;
    position: fixed;
    right: 10px;
    top: 140px;
    width: 50px;
    height: 50px;
    overflow: hidden;
  }
  .nav-list-curtain {
    width: 100%;
    height: 100%;
    background-color: red;
    z-index: 1000;
    .nav-list {
      background-color: #333;
      width: 70%;
      height: 100%;
      position: absolute;
      right: 0;
      z-index: 1001;
    }
  }
}
